root = true

# All files
[*]
indent_style = space
trim_trailing_whitespace = true

# F# files
[*.{fs,fsi,fsx}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4

[*.{md,txt}]
indent_size = 4
trim_trailing_whitespace = false

# Xml project files
[*.{proj,fsproj}]
indent_size = 2

# Shell scripts
[*.{sh,cmd}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2
